<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/charts" routerLinkActive="active">Charts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/realtime" routerLinkActive="active">Real time</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/planimetry" routerLinkActive="active">Planimetry</a>
      </li>
    </ul>
  </div>
</nav>